.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
src/components/firebaseConfig.js
src/components/firebaseInit.js
package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
